<div class="banner banner-become-host">
  <div class="container">
    <div class="row mt-2">
      <div class="col-md-6">
        <h1>Become a host today and start making a fortune!</h1>
        <br>
        <br>
        <p>No matter what kind of home or room you have to share, Rbnb makes it simple and secure to host travellers. You’re in full control of your availability, prices, house rules, and how you interact with guests.</p>
      </div>
      <div class="col-md-6">
        <div class="search-form">
          <h1>Enter your flat details here</h1>
          <%= simple_form_for @flat do |f| %>
            <%= f.input :title %>
            <%= f.input :description, placeholder: "Write something sexy" %>
            <%= f.input :address %>
            <div class="form-row fg justify-content-between">
              <div class="col-md-4">
                <%= f.input :guests %>
              </div>
              <div class="col-md-4">
                <%= f.input :bedrooms %>
              </div>
              <div class="col-md-4">
                <%= f.input :beds %>
              </div>
            </div>
            <%= f.input :price_per_night %>
            <%= f.input :photos, as: :file, input_html: {multiple: true} %>
            <%= f.submit "Add my tiny house", class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<br>
<h1>Hosting in three steps</h1>
<div class="container">
  <div class="row how-it-works">
    <div class="col-md-4">
      <div class="mt-3 how-text">
        <i class="far fa-check-circle"></i>
        <h2>List your space for free</h2>
        <p>Share any space without sign-up charges, from a shared living room to a second home and everything in-between.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mt-3 how-text">
        <i class="far fa-check-circle"></i>
        <h2>List your space for free</h2>
        <p>Share any space without sign-up charges, from a shared living room to a second home and everything in-between.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mt-3 how-text">
        <i class="far fa-check-circle"></i>
        <h2>List your space for free</h2>
        <p>Share any space without sign-up charges, from a shared living room to a second home and everything in-between.</p>
      </div>
    </div>
  </div>
</div>






















