<% if @flat.user_id == current_user.id %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @flat.photos.first.key %>);">
    <div class="container">
      <button type="button" class="btn btn-danger float-right">Go to my profile</button>
    </div>
  </div>
  <div class="main-container">
    <div class="info">
      <h1 class="border-bottom pb-4">Congratulations! Your tiny house has been added!</h1>
      <br>
      <h2 class="pb-4"><%= @flat.title %></h2>
      <br>
      <h3><%= @flat.description %></h3>
      <br>
      <h3 class="border-bottom pb-4"><%= @flat.address %></h3>
      <br>
      <h1 >Reviews</h1>

    </div>
    <div class="booker">
      <div class="container">
        <div class="d-flex">
          <i class="fas fa-bed"></i>
          <p class= "pl-3"> <strong>Sleeping arrangements</strong></p>
        </div>
        <p>Number of beds: <%= @flat.beds %> </p>
        <p>Number of bedrooms: <%= @flat.bedrooms %> </p>
        <div class="border-bottom">
          <p>Max number of guests: <%= @flat.guests %> </p>
        </div>
        <div class="d-flex pt-3">
          <i class="fas fa-tag"></i>
          <p class="pl-3"> <strong>Pricing</strong></p>
        </div>
        <p>Price per night: $<%= @flat.price_per_night %></p>
      </div>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @flat.photos.first.key %>);">
  </div>
  <div class="main-container">
    <div class="info">
      <h1 class="pb-4"><%= @flat.title %></h1>
      <br>
      <div class="d-flex">
        <i class="fas fa-info-circle"></i>
        <p><strong>Flat details:</strong></p>
      </div>
      <p><%= @flat.description %></p>
      <br>
      <div class="d-flex">
        <i class="fas fa-location-arrow"></i>
        <p><strong>Flat address:</strong></p>
      </div>
      <p><%= @flat.address %></p>
      <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l(#{@flat.longitude},#{@flat.latitude})/#{@flat.longitude},#{@flat.latitude},15/500x300?access_token=pk.eyJ1IjoidG9taHVkc29uODkiLCJhIjoiY2s0MGN4NDJvMDBmZTNlc2Y3YzdheG02ciJ9.CbThae_pau01vd-Br--z3w" %>
    </div>
    <div class="booker">
        <%= render 'bookings/form', booking: Booking.new, flat: @flat %>
    </div>
  </div>
<% end %>
