
<%= simple_form_for [flat, booking] do |b| %>
    <div class="form-group fg">
      <div class="d-flex">
        <i class="fas fa-tag"></i>
        <label for="Amount">Price per Night: <strong>$<%= @flat.price_per_night %></strong></label>
      </div>
    </div>
  <%= b.input :start_date %>
  <%= b.input :end_date %>
  <%= b.submit "Book your stay", class: "btn btn-danger d-flex search-button" %>
<% end %>



