<div class="container">
  <div class="promotion-banner d-flex" style="background-color: $green;">
    <i class="far fa-star star-icon"></i>
    <div class="gem-text">
      <h2 class="pt-3">Congratulations! You are going to <strong><%= @booking.flat.title %> </strong></h2>
      <p>This flat is a rare, tiny gem! You´re lucky you have been able to book it at this rate.</p>
    </div>
  </div>
  <div class="row booking-info">
    <div class="col-md-6">
      <div class="about-your-trip">
        <p class="pb-2">Say hello to your guests and tell them why you are coming:</p>
        <form>
          <div class="form-group">
            <textarea class="form-control" id="messagetoguests" rows="3"></textarea>
          </div>
        </form>
        <div class="house-rules">
          <div class="house-icon">
            <i class="fas fa-house-damage house-rules-icon"></i>
          </div>
          <h2 class="text-center"><strong>House rules</strong></h2>
          <div class="container rules">
            <div class="rules-items-icons">
              <div class="rules-content">
                <p>No smoking</p>
              </div>
              <div class="rules-action">
                <i class="fas fa-check"></i>
              </div>
            </div>
            <div class="rules-items-icons">
              <div class="rules-content">
                <p>Not suitable for pets</p>
              </div>
              <div class="rules-action">
                <i class="fas fa-check"></i>
              </div>
            </div>
            <div class="rules-items-icons">
              <div class="rules-content">
                <p>No parties or events</p>
              </div>
              <div class="rules-action">
                <i class="fas fa-check"></i>
              </div>
            </div>
            <div class="rules-items-icons">
              <div class="rules-content">
                <p>May not be suitable for very tall people </p>
              </div>
              <div class="rules-action">
                <i class="fas fa-check"></i>
              </div>
            </div>
          </div>
        </div>
        <br>
          <%= link_to "Go to my profile", user_path(current_user), class: "btn btn-danger d-flex profile-button" %>
      </div>
    </div>
    <div class="col-md-5 offset-md-1">
      <div class="flat-info-card">
        <div class="card-trip card-trip-booking">
          <%= cl_image_tag @booking.flat.photos.first.key %>
          <div class="card-trip-infos">
            <div>
              <h2><%= @booking.flat.title %></h2>
              <p><%= @booking.flat.address %></p>
            </div>
            <h2 class="card-trip-pricing">$<%= @booking.flat.price_per_night %></h2>
            <%= cl_image_tag @booking.flat.user.photo.key, class: "card-trip-user avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </div>
          <hr>
          <div class="card-trip-infos">
            <div class="checkout">
              <p><strong>Checkin:</strong></p>
              <p><%= @booking.start_date %></p>
            </div>
            <div class="checkin">
              <p><strong>Checkout:</strong></p>
              <p><%= @booking.end_date %></p>
            </div>
          </div>
          <hr>
          <div class="card-trip-infos">
            <div class="price-items">
              <div><p class="pr-4"> Number of nights:</p></div>
              <div><p> Price per night:</p></div>
              <div><p> Service fee:</p></div>
              <div><p> Occupancy taxes:</p></div>
              <br>
              <p><strong>Total:</strong></p>
            </div>
            <div class="price-per-item">
              <p><%= total_days = @booking.total_days %></p>
              <p><%= price_per_night = @booking.flat.price_per_night %></p>
              <p><%= service_fee = (@booking.flat.price_per_night * 0.1).round(2) %></p>
              <p><%= taxes = (@booking.flat.price_per_night * 0.15).round(2) %></p>
              <br>
              <p><strong>$<%= (total_days * price_per_night) + service_fee + taxes%></strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
