  <div class="container">
    <h2>My Bookings</h2>

  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
      href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">current</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
      href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">past</a>
    </div>
  </nav>


  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


    <% current_user.bookings.each do |booking| %>
      <% if !booking.end_date.past? %>
        <%= link_to(flat_path(booking.flat)) do %>
          <div class="card-product">
            <%= cl_image_tag booking.flat.photos.first.key %>
            <div class="card-product-infos">
              <h2><%= booking.flat.title %></h2>
              <p>Booking Start Date<%= booking.start_date %></p>
              <p>Booking End Date<%= booking.end_date %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>

  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

    <% current_user.bookings.each do |booking| %>
      <% if booking.end_date.past? %>
        <%= link_to(flat_path(booking.flat)) do %>
          <div class="card-product">
            <%= cl_image_tag booking.flat.photos.first.key %>
            <div class="card-product-infos">
              <h2><%= booking.flat.title %></h2>
              <p>Booking Start Date<%= booking.start_date %></p>
              <p>Booking End Date<%= booking.end_date %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>


    </div>
  </div>








  <% if current_user.flats.length > 0 %>
    <h2>Bookings at my properties </h2>
    <% current_user.flats.each do |flat| %>
      <%= link_to(edit_flat_path(flat)) do %>
        <div class="card-product">
          <%= cl_image_tag flat.photos.first.key %>
          <div class="card-product-infos">
            <h2><%= flat.title %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


